NEXT_PUBLIC_SUPABASE_URL=https://mhuxzwbdqyuksjcfdyqj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_71DClkWe96BX2a2lmYmaPw_lP0B_28-
NEXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=
